.Skills {
  border-bottom: solid 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  padding: 1em;
}
.Skills h2 {
  font-family: "ITC cushing std";
  font-style: italic;
  font-size: var(--ff-100);
  position: relative;
  align-self: flex-start;
  margin-bottom: 0.7em;
}

.Skills h3 {
  font-size: var(--ff-300);
}

.Skills .Thin-text {
  margin-top: 0.5em;
  margin-bottom: 0;
}
.Skills article {
  margin-bottom: 2em;
  margin-top: 2em;
  border: solid 2px;
  padding: 1.2em;
  width: 80%;
}

.frontEnd {
  margin-top: 0.2em;
}

.Skills li {
  padding: 0.7em;
}

.imageContainer {
  width: 200px;
  height: 170px;
}

@media (max-width: 900px){
    .Skills {
    width: 100%;
    order: 3;
  }
    .Skills img {
    margin-top: 2em;
  }
  .Skills h2 {
    align-self: center;
    margin-bottom: 0.1em;
  }
}